In [24]:
import random
import numpy as np
import pandas as pd

from helpers import *
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

TASK 1.5

In [25]:
#Initialization
m = 3000
d = 2500
beta = 1
sigma = 1
num_iter = 100*d
np.random.seed(2)
X = np.random.normal(0, 1, size=(m, d))
ksi = np.random.normal(0, sigma, size = m)
theta_true = np.random.randint(2, size = d)
theta_initial = np.random.randint(2, size = d)
y = np.dot(X, theta_true) + ksi

In [27]:
m_list = [1950]
beta_list = [1, 5]

In [28]:
mse_matrix_q1 = np.zeros((len(m_list), len(beta_list)))

In [29]:
for i, m in enumerate(m_list):
    X = np.random.normal(0, 1, size=(m, d))
    ksi = np.random.normal(0, sigma, size = m)
    y = np.dot(X, theta_true) + ksi
    for j, beta in enumerate(beta_list):  
        theta_predicted = mh_1_5(X, theta_initial, y, beta, num_iter)
        mse = mse_1_5(theta_true, theta_predicted)
        print("\n----MSE IS:", mse, "----\n")
        mse_matrix_q1[i][j] = mse

m = 1950, beta = 1, Iteration #: 0, f_theta = 2383415.9626633897
m = 1950, beta = 1, Iteration #: 5000, f_theta = 424090.63297330297
m = 1950, beta = 1, Iteration #: 10000, f_theta = 276116.09975862177
m = 1950, beta = 1, Iteration #: 15000, f_theta = 234871.3926967528
m = 1950, beta = 1, Iteration #: 20000, f_theta = 203518.5766149016
m = 1950, beta = 1, Iteration #: 25000, f_theta = 188583.2209357513
m = 1950, beta = 1, Iteration #: 30000, f_theta = 180437.74112213793
m = 1950, beta = 1, Iteration #: 35000, f_theta = 175127.14720619947
m = 1950, beta = 1, Iteration #: 40000, f_theta = 171628.0978618623
m = 1950, beta = 1, Iteration #: 45000, f_theta = 169150.84875943133
m = 1950, beta = 1, Iteration #: 50000, f_theta = 166829.01213974593
m = 1950, beta = 1, Iteration #: 55000, f_theta = 163755.4491180475
m = 1950, beta = 1, Iteration #: 60000, f_theta = 160313.34901470496
m = 1950, beta = 1, Iteration #: 65000, f_theta = 157500.72782958756
m = 1950, beta = 1, Iteration #: 70000, f_theta = 156427.71955730792
m = 1950, beta = 1, Iteration #: 75000, f_theta = 155993.48902673722
m = 1950, beta = 1, Iteration #: 80000, f_theta = 155278.3363256749
m = 1950, beta = 1, Iteration #: 85000, f_theta = 154156.41198673513
m = 1950, beta = 1, Iteration #: 90000, f_theta = 152862.43838285
m = 1950, beta = 1, Iteration #: 95000, f_theta = 152349.59106419742
m = 1950, beta = 1, Iteration #: 100000, f_theta = 151041.34785509625
m = 1950, beta = 1, Iteration #: 105000, f_theta = 149223.89917787426
m = 1950, beta = 1, Iteration #: 110000, f_theta = 147798.85439300488
m = 1950, beta = 1, Iteration #: 115000, f_theta = 147495.26515906627
m = 1950, beta = 1, Iteration #: 120000, f_theta = 146318.64888407406
m = 1950, beta = 1, Iteration #: 125000, f_theta = 145152.51531143967
m = 1950, beta = 1, Iteration #: 130000, f_theta = 144364.2231013503
m = 1950, beta = 1, Iteration #: 135000, f_theta = 143590.58370186787
m = 1950, beta = 1, Iteration #: 140000, f_theta = 142242.39682950548
m = 1950, beta = 1, Iteration #: 145000, f_theta = 141385.71756344393
m = 1950, beta = 1, Iteration #: 150000, f_theta = 140484.8336782062
m = 1950, beta = 1, Iteration #: 155000, f_theta = 140324.0410049435
m = 1950, beta = 1, Iteration #: 160000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 165000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 170000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 175000, f_theta = 140324.0410049435
m = 1950, beta = 1, Iteration #: 180000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 185000, f_theta = 140324.0410049435
m = 1950, beta = 1, Iteration #: 190000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 195000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 200000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 205000, f_theta = 140324.0410049435
m = 1950, beta = 1, Iteration #: 210000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 215000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 220000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 225000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 230000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 235000, f_theta = 140323.01039969572
m = 1950, beta = 1, Iteration #: 240000, f_theta = 140324.0410049435
m = 1950, beta = 1, Iteration #: 245000, f_theta = 140323.01039969572

----MSE IS: 0.2616 ----

m = 1950, beta = 5, Iteration #: 0, f_theta = 2383415.9626633897
m = 1950, beta = 5, Iteration #: 5000, f_theta = 432432.7239846028
m = 1950, beta = 5, Iteration #: 10000, f_theta = 259892.25306798803
m = 1950, beta = 5, Iteration #: 15000, f_theta = 220173.47680997342
m = 1950, beta = 5, Iteration #: 20000, f_theta = 195444.22706711694
m = 1950, beta = 5, Iteration #: 25000, f_theta = 185380.92764185613
m = 1950, beta = 5, Iteration #: 30000, f_theta = 178055.2135675432
m = 1950, beta = 5, Iteration #: 35000, f_theta = 174770.9067572733
m = 1950, beta = 5, Iteration #: 40000, f_theta = 171541.71892740077
m = 1950, beta = 5, Iteration #: 45000, f_theta = 169505.4561478885
m = 1950, beta = 5, Iteration #: 50000, f_theta = 165251.30907293136
m = 1950, beta = 5, Iteration #: 55000, f_theta = 161593.27700044285
m = 1950, beta = 5, Iteration #: 60000, f_theta = 158232.4653390556
m = 1950, beta = 5, Iteration #: 65000, f_theta = 156732.36020710613
m = 1950, beta = 5, Iteration #: 70000, f_theta = 155523.9199118911
m = 1950, beta = 5, Iteration #: 75000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 80000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 85000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 90000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 95000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 100000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 105000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 110000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 115000, f_theta = 155253.62703620954
m = 1950, beta = 5, Iteration #: 120000, f_theta = 155253.62703620954

----MSE IS: 0.3224 ----

In [22]:
mse_matrix_q1_df = pd.DataFrame(mse_matrix_q1, index = m_list, columns=beta_list)

In [23]:
mse_matrix_q1_df

      0.001   0.005   0.010   0.050   0.100   0.500   1.000   5.000   10.000
1900  0.5552     0.0     0.0  0.2504  0.2968  0.3024  0.1944  0.2544  0.3048

In [36]:
pd.read_pickle("mse_matrix_all_ins.pkl")

        0.5     1.0     5.0     10.0    50.0    100.0
1      0.9904  1.0032  0.9872  0.9960  1.0088  1.0168
5      1.0336  0.9944  0.9928  1.0112  1.0128  1.0192
10     1.0216  1.0152  1.0152  1.0016  1.0056  1.0016
50     0.9992  1.0040  0.9896  0.9656  0.9720  0.9944
100    0.9560  0.9592  0.9712  0.9584  0.9824  0.9520
250    0.8864  0.8824  0.9112  0.8912  0.9088  0.8672
500    0.7768  0.8144  0.7864  0.7672  0.7952  0.8296
750    0.7488  0.7512  0.7464  0.7600  0.7152  0.7296
1000   0.6464  0.6024  0.6424  0.6296  0.6608  0.6128
1250   0.5552  0.5704  0.5512  0.5344  0.5888  0.5656
1500   0.4520  0.4816  0.4752  0.4760  0.4616  0.4600
1750   0.3360  0.3784  0.3312  0.3712  0.3616  0.4000
2000   0.2592  0.2768  0.0000  0.0000  0.2744  0.2760
2250   0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
2400   0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
2500   0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
2600   0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
2750   0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
3000   0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
4000   0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
5000   0.0000  0.0000  0.0000  0.0000  0.0000  0.0000
10000  0.0000  0.0000  0.0000  0.0000  0.0000  0.0000